.row{
    border: 1px solid black;
    width: 100%;
    height: 800%;
    display: flex;
    justify-content: space-evenly;
    
}
.col{
    width: 23%;
}
.col img{
    width: 100%;
    height: 500px; 
    border: black 1px solid;
    border-top: 300px;
    border-left: -320px;
    border-radius: 300px;
    
}
header{
    display: flex;
    width: 100%;
    background-color: blue;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;

}
header a{
    color: white;
    text-decoration: none;
    padding: 100px;
}


.row1{
    border: 1px solid black;
    width: 100%;
    height: 800%;
    display: flex;
    justify-content: space-evenly;
    
}
.col1{
    width: 23%;
}
.col1 img{
    width: 100%;
    height: 500px; 
    border: black 1px solid;
    border-top: 100px;
    border-left: -320px;
    border-radius: 300px;
    
}